In [1]:
import pandas

In [4]:
acc = {
    '': ['tree classifier', 'random forest', 'svm'],
    'train': [1.000, 1.000, 1.000],
    'test': [0.999, 0.999, 0.999],
    'validation': [0.999, 0.999, 0.999],
    'training time': ['0:02:41.971565', '0:27:33.624551', '0:24:56.213468']
}

pandas.DataFrame(acc).set_index('')

                 train   test  validation   training time

tree classifier    1.0  0.999       0.999  0:02:41.971565
random forest      1.0  0.999       0.999  0:27:33.624551
svm                1.0  0.999       0.999  0:24:56.213468

In [5]:
acc = {
    '': ['tree classifier', 'random forest', 'svm'],
    'fraud': [0.719, 0.743, 0.730],
    'training time': ['0:02:41.971565', '0:27:33.624551', '0:24:56.213468']
}

pandas.DataFrame(acc).set_index('')

                 fraud   training time

tree classifier  0.719  0:02:41.971565
random forest    0.743  0:27:33.624551
svm              0.730  0:24:56.213468

In [21]:
pandas.DataFrame({
    '': ['train', 'test', 'validation', 'fraud'],
    'imbalanced': [0.999, 0.999, 0.999, 0.041],
    'ros': [1.000, 0.999, 0.999, 0.719],
    'smote': [1.000, 1.000, 0.999, 0.821],
}).set_index('').T

            train   test  validation  fraud
imbalanced  0.999  0.999       0.999  0.041
ros         1.000  0.999       0.999  0.719
smote       1.000  1.000       0.999  0.821

In [19]:
pandas.DataFrame({
    '': ['train', 'test', 'validation', 'fraud'],
    'imbalanced': [1.000, 1.000, 1.000, 0.595],
    'ros': [1.000, 0.999, 0.999, 0.743],
    'smote': [1.000, 0.999, 0.999, 0.847],
}).set_index('').T

             train   test  validation  fraud
imabalanced    1.0  1.000       1.000  0.595
ros            1.0  0.999       0.999  0.743
smote          1.0  0.999       0.999  0.847

In [20]:
pandas.DataFrame({
    '': ['train', 'test', 'validation', 'fraud'],
    'imbalanced': [0.999, 0.999, 0.999, 0.365],
    'ros': [1.000, 0.999, 0.999, 0.730],
    'smote': [0.916, 0.966, 0.966, 0.834],
}).set_index('').T

             train   test  validation  fraud
imabalanced  0.999  0.999       0.999  0.365
ros          1.000  0.999       0.999  0.730
smote        0.916  0.966       0.966  0.834